{# {% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/SecretCellarLogo.png') }}" alt=""/>
    <h1>LISTES DES PROGRAMMES</h1> 
    <br><br>
    {% for program in programs %}  
    <h2>{{program.title}}</h2>
        <p>Synopsis : {{program.synopsis}}</p>
        <p>Poster :{{program.poster}}</p>
        <p>Category :{{program.category.name}}</p>
        <br><br>
    {% endfor %}
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
          <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}