{% extends 'base.html.twig' %}

{% block title %}{{program.title}}{% endblock %}

{% block body %}
<h1>{{program.title}}</h1>
<p>Synopsis : {{program.synopsis}}</p>
<p>Poster :{{program.poster}}</p>
<p>Category :{{program.category.name}}</p>
<p>Season :
{% for season in seasons %}
    <a href="{{ path("program_season_show", { season: season.id , program: program.id }) }}"><li>ma saison :{{season.number}}<br> id saison :{{season.id}}<br> id pgrm :{{program.id}}</li></a>
{% endfor %}
</p>

<br><br>

<strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <a href="{{ path("actor_show", { id: actor.id }) }}"><li>{{ actor.name }}</li></a>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>

<img src="{{ asset('build/images/SecretCellarLogo.png') }}" alt=""/>

{% endblock %}